In [1]:
import pandas as pd

In [101]:
file_location = '../data/output/output_partially_curated _review_in-progress.csv'
output_file_location = '../data/output/small_pairs.csv'

In [7]:
df = pd.read_csv(file_location)

In [8]:
df.head()

,English,Odia
0,He was awarded the Padma Sri in 1982.,ସୟଦ କିରିମାନୀ ଭରତ ସରକାର ଙ୍କ ଦ୍ଵାରା ପଦ୍ମଶ୍ରୀ ଉପା...
1,Bishan Singh Bedi pronunciation (help·info) (...,ପୂର୍ବତନ ଭାରତୀୟ ସ୍ପିନ ବୋଲର ବିଶନ ସିଂ ବେଦି ୨୫ ସେପ...
2,"In Indian domestic cricket, Bedi first played ...",ମାତ୍ର ୧୫ ବର୍ଷ ବଯଶ ରେ ବେଦି ଘରେଇ କ୍ରିକେଟ ରେ ପଦ ଦ...
3,"His bowling has been described as graceful, ev...",ତାଙ୍କର ସ୍ପିନ ବୋଲିଂ ର ଶୈଳୀ କୁ ଖୁବ ସୁନ୍ଦର ବୋଲି କ...
4,His best Test bowling was 7/98 against Austral...,ତାଙ୍କର ଶ୍ରେଷ୍ଠ ବୋଲିଂ ଥିଲା ଅଷ୍ଟ୍ରେଲିଆ ବିପକ୍ଷୀ ର...

In [13]:
df.count()

English    11096
 Odia      11115
dtype: int64

In [14]:
ignore_sentences = ['see also', 
                    'external links', 
                    'references', 
                    'awards', 
                    'further reading',
                    'awards and nominations',
                    'notes',
                    'career',
                    'gallery',
                    'history',
                    'books',
                    'filmography'
                   ]

In [24]:
df['English'].str.lower().head()

0                he was awarded the padma sri in 1982.
1    bishan singh bedi  pronunciation (help·info) (...
2    in indian domestic cricket, bedi first played ...
3    his bowling has been described as graceful, ev...
4    his best test bowling was 7/98 against austral...
Name: English, dtype: object

In [35]:
# df.drop([text for text in df['English'].astype('str') if len(text) > 100]

5012

In [109]:
new_df = df.drop(df[df['English'].astype('str').map(len) > 30].index)

In [110]:
new_df.reset_index(drop=True, inplace=True)

In [111]:
new_df.head()

             English                 Odia
0        Controversy  ବିବାଦୀୟ ବ୍ୟକ୍ତିତ୍ବ
1           Coaching            ତାଲିମଦାତା
2            Records        ବିଶ୍ଵ ରେକର୍ଡ
3      Personal life      ବ୍ୟକ୍ତିଗତ ଜୀବନ
4  Bishan Singh Bedi        ବିଶନ ସିଂ ବେଦି

In [112]:
# [x for x in new_df['English'].astype('str').str.lower() if x not in ignore_sentences]

In [113]:
new_df.count()

English    5139
 Odia      5158
dtype: int64

In [114]:
new_df.drop_duplicates(subset='English', inplace=True)

In [115]:
new_df.count()

English    1910
 Odia      1911
dtype: int64

In [116]:
new_df.to_csv(output_file_location)